[core]
	editor = nvim
	quotepath = false
    pager = delta
[url "git@github.com:"]
	pushinsteadof = https://github.com/
[diff]
	tool = vimdiff
	prompt = false
    colorMoved = default
[user]
	name = Ryo Saito
	email = ryo.saito@ncdc.co.jp
[credential]
    helper = !aws --profile sandbox codecommit credential-helper $@a
    ##helper = !aws --profile lifenet-stg codecommit credential-helper $@a
	UseHttpPath = true
[push]
    autoSetupRemote = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
[merge]
    conflictstyle = diff3

[pull]
	ff = only
