# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[templates]
defer = "{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"

[plugins]

[plugins.zsh-defer]
github = "romkatv/zsh-defer"

[plugins.syntax-highlight]
github = "zdharma-continuum/fast-syntax-highlighting"
apply = ["defer"]

# ctrl + r で起動
[plugins.history]
github = "zdharma/history-search-multi-word"
apply = ["defer"]

[plugins.zeno]
github = "yuki-yano/zeno.zsh"
hooks.pre = """
export ZENO_GIT_CAT="bat --color=always"
export ZENO_GIT_TREE="eza --tree"
"""
hooks.post = """
__zeno_bindkey() {
  bindkey ' ' zeno-auto-snippet
  bindkey '^m' zeno-auto-snippet-and-accept-line
  bindkey '^i' zeno-completion
  
  bindkey '^x '  zeno-insert-space
  bindkey '^x^m' accept-line
  bindkey '^x^z' zeno-toggle-auto-snippet

  bindkey '^r' zeno-history-selection
  bindkey '^x^l' zeno-insert-snippet
  bindkey '^x^g' zeno-ghq-cd
}
zsh-defer -a -t0.01 __zeno_bindkey
"""
apply = ["defer"]

# deferにするとzenoが動かない
[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
# apply = ["defer"]

# option + j で起動
[plugins.zsh-navigation-tools]
github = "reegnz/jq-zsh-plugin"
apply = ["defer"]

[plugins.git-open]
github = "paulirish/git-open"
apply = ["defer"]

[plugins.gh-fzf]
github = "atusy/gh-fzf"
apply = ["defer"]

[plugins.cd-gitroot]
github = "mollifier/cd-gitroot"
hooks.post = """
fpath=($XDG_DATA_HOME/sheldon/repos/github.com/mollifier/cd-gitroot(N-/) $fpath)

autoload -Uz cd-gitroot
"""
apply = ["defer"]

[plugins.fzf-tab]
github = "Aloxaf/fzf-tab"

# deferにするとzenoが動かない
[plugins.zsh-vi-mode]
github = "jeffreytse/zsh-vi-mode"
# apply = ["defer"]
