name: test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - testing

permissions:
  contents: read

jobs:
  mise:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        with:
          working_directory: .config/mise
  nvim:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup Neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: stable
      - name: Setup Config
        run: |
          mkdir -p "$HOME"/.config
          ln -s "$GITHUB_WORKSPACE"/.config/nvim "$HOME"/.config/nvim
      - name: Test Neovim config
        run: |
          nvim --headless +qall
  nix:
    strategy:
      matrix:
        include:
          - os: macos-latest
            profile: macos
          - os: macos-latest
            profile: macos-work
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup Nix
        uses: cachix/install-nix-action@v31
      - name: nix run
        run: |
          nix run home-manager/master -- build --flake .#${{ matrix.profile }}
